/**
* championSelector Module
*
* Description
*/
angular.module('championInfo', [
	'models.champions',
	'mgcrea.ngStrap.popover',
	'ngSanitize',
	'ngOrderObjectBy'
])

	.config(['$stateProvider', function($stateProvider){
		$stateProvider
			.state('appStart.champions', {
				url: '/champions',
				views: {
				 	'': {
				 		templateUrl: "<%= asset_path('myApp/championInfo/championInfo.html') %>",
				 		controller: 'ChampionsController as championsController'
				 	},
				 	'navbar': {
				 		templateUrl: "<%= asset_path('myApp/navbar/navbar.html') %>",
				 	},
					'footer': {
						templateUrl: "<%= asset_path('myApp/footer/footer.html') %>",
					}
				},
				resolve: {
					championsData: ['ChampionsModel', function(ChampionsModel) {
						return ChampionsModel.getChampions()
							.then(function(result) {
								return result;
							});
					}],
					currentChampion: ['$stateParams', 'ChampionsModel', function($stateParams, ChampionsModel) {
						return ChampionsModel.resetCurrentChampion();
					}]
				}
			})

			.state('appStart.champions.selected', {
				//TODO: provide slugs for search term
				url: '/:key',
				views: {
					'@appStart': {
						templateUrl: "<%= asset_path('myApp/championInfo/championInfo.selected.html') %>",
						controller: 'ChampionsController as championsController'
					},
				 	'navbar': {
				 		templateUrl: "<%= asset_path('myApp/navbar/navbar.html') %>",
				 	},
					'footer': {
						templateUrl: "<%= asset_path('myApp/footer/footer.html') %>",
					}
				},
				resolve: {

					championData: function($stateParams, ChampionsModel){
						return ChampionsModel.getChampion($stateParams.key)
							.then(function(result){
								return result;
							});
					},

					currentChampion: function($stateParams, ChampionsModel, championData){
						return ChampionsModel.setCurrentChampion($stateParams.key);
					}


				}
			});
	}])
	// TODO: 	reference template so tooltips can read out template instead of inline
	// 				Possibly add to gulp/grunt task?
	// .run(function($templateCache) {
	//   $templateCache.put('championTooltip.html',
	//   	'<div class="championTooltipContainer"><span class="championTooltipName">{{ championsController.getName($index) }}</span></br><span class="championTooltipDescription">{{ championsController.getDescription($index) }}</span></div>'
	//   	);
	// })

	.controller('ChampionsController', ['ChampionsModel', '$stateParams', 'championsData', function(ChampionsModel, $stateParams, championsData){
		var championsController = this;

		championsController.championsData = championsData;
		championsController.getBlurb = ChampionsModel.getChampionBlurb;
		championsController.getCurrentChampion = ChampionsModel.getCurrentChampion;
		championsController.getCurrentChampionImage = ChampionsModel.getCurrentChampionImage;
		championsController.getImage = ChampionsModel.getChampionImage;
		championsController.getId = ChampionsModel.getChampionId;
		championsController.getLore = ChampionsModel.getChampionLore;
		championsController.getName = ChampionsModel.getChampionName;
		championsController.getResourceType = ChampionsModel.getChampionResourceType;
		championsController.getRoles = ChampionsModel.getChampionTags;
		championsController.getSpriteStyle = ChampionsModel.getChampionSpriteStyle;
		championsController.getStats = ChampionsModel.getChampionStatsHtml;
		championsController.getTitle = ChampionsModel.getChampionTitle;
	}])
;